#row1 {
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
}

#avgprice_table{
    height: 100%;
    width: 100%;
    vertical-align: central;
    border-collapse: collapse;
}

#basicinformation_table {
    height: 100%;
    width: 100%;
    vertical-align: central;
    border-collapse: collapse;
}

table thead tr th{
    border: 3px dashed black;
    text-align: center;
}

table{
    border: 1px solid black;
}
#basicinformation_table tr{
    border: 1px dashed black;
}

#row2 {
    margin-top: 100px;
    margin: 40px,5px,5px,5px;
    display: flex;
    justify-content: space-evenly;
}

#avgpricebycity_table {
    height: 100%;
    width: 100%;
    vertical-align: central;
    border-collapse: collapse;
    border: 0px;
    text-align: center;
    font-size: 15px;
}

#mostrealestates_table {
    height: 100%;
    width: 100%;
    vertical-align: central;
    border-collapse: collapse;
    border: 0px;
    text-align: center;
    font-size: 15px;
}

#tenantsbycity_table {
    height: 100%;
    width: 100%;
    vertical-align: central;
    border: 0px;
    text-align: center;
    font-size: 15px;
    border-collapse: collapse;
}

#tenantsbycity_table thead tr td {
        font-weight: bold;
        padding: 10px;
}

#mostrealestates_table thead tr td {
    font-weight: bold;
    padding: 10px;
}

#avgpricebycity_table thead tr td {
    font-weight: bold;
    padding: 10px;
}

#tenantsbycity_body {
    padding: 10px;
    font-size: 15px;
}

#mostrealestates_body{
    padding: 10px;
    font-size: 15px;
}

#avgpricebycity_body{
    padding: 10px;
    font-size: 15px;
}

th{
    font-weight: normal;
}

a{
    position: fixed;
    right: 0;
    bottom: 0;
}

#page_top {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 10px;
    font-size: 40px;
    padding: 10px;
    position: absolute;
}

a{
    font-size: 20px;
    text-align: right;
    padding: 17px;
    animation: textcolorchange 5s infinite alternate;
}

@keyframes textcolorchange {
    from {
        color: dimgray;
    }

    to {
        color: darkorange;
    }
}