table{
    width : 100%;
    border-collapse: collapse;
}

table, th, td{
    border: 1px solid aquamarine;
}

th, td{
    padding: 5px;
}

th{
    background-color: aquamarine;
}

#updateformdiv {
    display: none;
    flex-direction: column;
    margin-bottom: 30px;
    background-color: mediumaquamarine;
}

    #updateformdiv label, button, input {
        margin: 5px;
    }

    #updateformdiv label {
        font-weight: bolder;
    }

#formdiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

#formdiv label, button, input{
    margin: 5px;
}

#formdiv label{
    font-weight: bolder;
}

table button{
    padding: 2px;
}